{{> site-head}}

<main>

    <div class="container my-5 search">
        <div class="row">

            <div class="sidebar col-md-4 order-md-last">
                {{> site-sidebar}}
            </div>

            <div class="col-md">
                <h1>
                    {{ translate 'error.404' }}
                </h1>
                <p>
                    {{ translate 'error.description' }}
                </p>
            </div>

        </div>
    </div>

</main>

{{> site-footer}}